<div class="footer-block--newsletter newscolumndic" style="margin-top: 0rem !important;">
      <div class="footer-block__newsletter" >
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 style="text-align: left;" class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
        {%- endif -%}
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="field__input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                placeholder="{{ 'newsletter.label' | t }}"
                required
              >
              <label class="field__label" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                {% render 'icon-arrow' %}
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
          {%- endif -%}
        {%- endform -%}
      </div>
  </div>

    <div class="news_socialIcons">
        {%- render 'social-icons' -%}
    </div>
</div>

{%- style -%}
.news_socialIcons ul{
  justify-content: right !important;
}
.news_socialIcons {
    float: right;
    margin-top: 15px;
}
.newscolumndic form{
  max-width: 100% !important;
}
@media (max-width: 989px){
  .footer-block__newsletter {
    width: 100% !important;
}
.newsletter-form__field-wrapper {
    max-width: 100%;
}  
}
{%- endstyle -%}